In [1]:
from merge import Merge
from groupby import GroupBy
import numpy as np
import pandas as pd

In [2]:
def make_data(n,m,i):
    arr = np.random.randint(i, size=n*m).reshape((n,m))
    df = pd.DataFrame(arr)
    return arr, df

In [11]:
# ar1, df1 = make_data(1000, 10, 10)
# ar2, df2 = make_data(1000, 10, 10)
ar1, df1 = make_data(100000, 5, 3)
ar2, df2 = make_data(10000, 5, 3)

# l_on, r_on = [2,3,4], [6,8,9]
l_on, r_on = [0,1,2], [0,1,2]
gb1 = GroupBy(ar1, l_on)
gb2 = GroupBy(ar2, r_on)

In [12]:
%timeit Merge(ar1, ar2, l_on, r_on).left()

1.92 s ± 17.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [13]:
%timeit Merge(ar1, ar2, l_on, r_on).right()

1.49 s ± 10.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [14]:
%timeit Merge(gb1, gb2, l_on, r_on).left()

1.79 s ± 7.68 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [15]:
%timeit Merge(gb1, gb2, l_on, r_on).right()

1.38 s ± 11.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [16]:
%timeit df1.merge(df2, how='left', left_on=l_on, right_on=r_on)

5.14 s ± 101 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [11]:
%prun Merge(gb1, gb2, l_on, r_on).left()

In [21]:
rdf = df1.merge(df2, how='left', left_on=l_on, right_on=r_on)

In [22]:
res = Merge(gb1, gb2, l_on, r_on).inner(jitted=True)

In [24]:
rdf.tail(10)

          0  1  2  3_x  4_x  3_y  4_y
37032582  2  2  2    1    0    1    2
37032583  2  2  2    1    0    2    0
37032584  2  2  2    1    0    0    2
37032585  2  2  2    1    0    2    2
37032586  2  2  2    1    0    2    1
37032587  2  2  2    1    0    2    0
37032588  2  2  2    1    0    2    1
37032589  2  2  2    1    0    1    2
37032590  2  2  2    1    0    1    0
37032591  2  2  2    1    0    1    1

In [26]:
res[-10:]

array([[2, 2, 2, 1, 0, 1, 0],
       [2, 2, 2, 1, 0, 2, 0],
       [2, 2, 2, 1, 0, 1, 1],
       [2, 2, 2, 1, 0, 2, 1],
       [2, 2, 2, 1, 0, 2, 2],
       [2, 2, 2, 1, 0, 0, 1],
       [2, 2, 2, 1, 0, 1, 2],
       [2, 2, 2, 1, 0, 2, 1],
       [2, 2, 2, 1, 0, 0, 2],
       [2, 2, 2, 1, 0, 1, 1]])