In [1]:
import numpy as np
import pandas as pd

from groupby import GroupBy

In [2]:
def make_data(n,m,i):
    arr = np.random.randint(i, size=n*m).reshape((n,m))
    df = pd.DataFrame(arr)
    return arr, df

In [3]:
ar1, df1 = make_data(5, 3, 5)
ar2, df2 = make_data(5, 3, 5)

on = [0,1]
gb1 = GroupBy(ar1, on)
gb2 = GroupBy(ar2, on)

df1

   0  1  2
0  0  3  1
1  2  0  3
2  3  0  1
3  3  1  4
4  3  3  2

In [4]:
df2

   0  1  2
0  0  0  0
1  2  4  0
2  3  0  3
3  3  0  3
4  4  0  1

In [5]:
on = [0,1]
df1.merge(df2,  how='inner', left_on=on, right_on=on)

   0  1  2_x  2_y
0  3  0    1    3
1  3  0    1    3

In [7]:
class Merge:
    def __init__(self, l, r, l_on, r_on):
        
        self.l_on = l_on
        self.r_on = r_on
        
        # Merge supports l and r parameters to be either arrays, or GroupBy objects. 
        # If they are arrays, we need to perform GroupBy initialization to get keys
        if isinstance(l, GroupBy):
            self.l_gb = l
        else:
            self.l_gb = GroupBy(l, l_on)
            
        if isinstance(r, GroupBy):
            self.r_gb = r
        else:
            self.r_gb = GroupBy(r, r_on)
        
    
    def inner(self):
        # Create views of each GroupBy key array as 1d arrays and find intersection
        l_dtype = [(f'{i}', self.l_gb.keys.dtype)for i in range(self.l_gb.keys.shape[1])]
        r_dtype = [(f'{i}', self.r_gb.keys.dtype)for i in range(self.r_gb.keys.shape[1])]
        
        l_keyc = np.ascontiguousarray(self.l_gb.keys)
        r_keyc = np.ascontiguousarray(self.r_gb.keys)
        
        l_keyv = l_keyc.view(l_dtype)[:, 0]
        r_keyv = r_keyc.view(r_dtype)[:, 0]
        
#         intersect = np.intersect1d(l_keyv, r_keyv)
        
#         for isct in intersect:
            
        
        # Find the index positions of the inner-overlap between left and right objects
        l_mask = np.in1d(l_keyv, r_keyv)
        r_mask = np.in1d(r_keyv, l_keyv)
        l_idx = np.nonzero(l_mask)[0]
        r_idx = np.nonzero(r_mask)[0]
        
        return

In [8]:
np.intersect1d(gb1.keys, gb2.keys)

array([0, 2, 3])

In [9]:
mrg = Merge(ar1, ar2, on, on)

In [10]:
lret, rret = mrg.inner()

lret, rret

(array([2], dtype=int64), array([2], dtype=int64))

In [49]:
mrg.l_gb.keys[lret], mrg.r_gb.keys[rret]

(array([[4, 1],
        [4, 3]]), array([[4, 1],
        [4, 3]]))

In [39]:
mrg.l_gb.gr_idx[lret], mrg.r_gb.gr_idx[rret]

(array([0], dtype=int64), array([4], dtype=int64))

In [52]:
gb1 = GroupBy(ar1, on)
gb1.arr

array([[0, 2, 4],
       [2, 3, 1],
       [4, 1, 2],
       [4, 1, 3],
       [4, 3, 1]])

In [53]:
gb2 = GroupBy(ar2, on)
gb2.arr

array([[1, 2, 3],
       [3, 1, 3],
       [4, 1, 4],
       [4, 3, 3],
       [4, 3, 1]])

In [13]:
dtype1 = [(f'{i}', gb1.keys.dtype)for i in range(gb1.keys.shape[1])]
arc1 = np.ascontiguousarray(gb1.keys)
gbv1 = arc1.view(dtype1)[:, 0]

dtype2 = [(f'{i}', gb2.keys.dtype)for i in range(gb2.keys.shape[1])]
arc2 = np.ascontiguousarray(gb2.keys)
gbv2 = arc2.view(dtype2)[:, 0]

In [14]:
np.intersect1d(gbv1, gbv2)

array([(3, 0)], dtype=[('0', '<i4'), ('1', '<i4')])

In [17]:
gbv1

array([(3, 0), (3, 3), (4, 3), (4, 4)], dtype=[('0', '<i4'), ('1', '<i4')])

In [24]:
mask = np.in1d(gbv1, gbv2)
idx = np.nonzero(mask)
idx

(array([0], dtype=int64),)

In [19]:
gb1.gr_idx

array([0, 1, 3, 4, 5], dtype=int64)

In [153]:
np.where(gb1.keys == )

array([[0, 4],
       [2, 0],
       [2, 4],
       [3, 3],
       [3, 4]])

In [104]:
arr = np.random.randint(5, size=10)
arr.sort()
arr

array([0, 0, 1, 1, 1, 2, 2, 2, 2, 3])